@import "./../common/styles/Fonts.module.css";
@import "./../common/styles/Variables.styles.css";

.header {
  height: 80px;
  background-color: var(--second-color);
  padding:0;
  margin: 0;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .headerContainer {
    justify-content: end;
  }
}
