:root {
  --back-color: #dfeaff;
  --back-secondary-color: #e1b0d9;
  --main-color: #55d193;
  --second-color: #1d6bff;
  --text-color: #1e1d1d;
}

* {
  font-size: 16px;
  font-family: "LatoMedium", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

