.work {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  border: 1px solid;
  box-sizing: border-box;
  padding: 10px;
}

.image {
  width: 100%;
  height: 250px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: var(--main-color);
  color: var(--text-color);
  text-align: center;
}

.link {
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: var(--second-color);
}
