@import "./../common/styles/Fonts.module.css";
@import "./../common/styles/Variables.styles.css";

.skillsBlock {
  min-height: 100vh;
  background-color: var(--back-secondary-color);
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: var(--main-color);
  color: var(--text-color);
}

.skills {
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 0 0 10px 0;
}

@media (min-width: 768px) {
  .skills {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .skillsContainer {
    height: 100vh;
  }
}
