@import "./../common/styles/Fonts.module.css";
@import "./../common/styles/Variables.styles.css";

.skillsBlock {
  height: 100vh;
  background-color: var(--back-secondary-color);
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  background-color: var(--main-color);
  color: var(--text-color);
}

.skills {
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;
}
